{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des articles par catégorie</h1>

    {%  for category in categories %}
        <a href="{{ path ('categories', {'categorie': category.name }) }}" >  {% filter upper %} {{ category.name }} {% endfilter %} </a>

        {%  for article in category.article %}
            <h3>  {{ article.title }} </h3>
            <p>   {{ article.content }} </p>
        {% endfor %}
    {% endfor %}

{% endblock %}